<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center" fxLayoutGap="1em">
        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Header</span>
      </div>
      <div fxLayoutAlign="end center">
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" #sideNav style="width:20%; box-shadow:6px 0 6px rgba(0,0,0,.4)">
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>dashboard</mat-icon>
          <span (click)="showDashboard()" style="padding:0.5em">Dashboard</span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>search</mat-icon>
          <span (click)="showSearch()" style="padding:0.5em">Search</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="margin-top:1em; height:100%">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>